.wrapper {
  transform: translate(30%, 50%);
  background-color: bisque;
}

.left-curve {
  background-color: #5AC1F5;
  height: 205px;
  width: 60px;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  position: absolute;
  z-index: 1;
  top: 3px;
  /* box-shadow: -3px 1px 1px 1px rgba(0, 0, 0, 0.676); */
}

.left-curve .left-curve__inner {
  display: flex;
  position: relative;
  flex-direction: column;
}

.left-curve .left-curve__inner .volume-minus {
  position: absolute;
  top: 20px;
  left: 40px;
  background-color: rgba(0, 0, 0, 0.892);
  height: 5px;
  border-radius: 1px;
  width: 15px;
} 

.left-curve .left-curve__inner .left-analog {
  position: absolute;
  top: 40px;
  left: 20px;
  background-color: rgba(0, 0, 0, 0.892);
  height: 20px;
  width: 20px;
  border-radius: 50px;
}

.left-curve .left-curve__inner .left-analog__inner {
  position: absolute;
  top: 30px;
  left: 20px;
  background-color: rgba(0, 0, 0, 0.892);
  height: 25px;
  width: 25px;
  border-radius: 50px;
}

.left-curve-shadow {
  background-color: #3ca2e6c4;
  height: 210px;
  border: 2px solid #000;
  width: 60px;
  border-bottom-left-radius: 45px;
  border-top-left-radius: 45px;
  position: relative;
  /* box-shadow: 1px 1px 1px 1px rgb(0, 0, 0); */
}